@use 'bootstrap/scss/bootstrap';
:root {
 --bg-main-color: #8C7ECE;
 --bg-card: #2D2A37;
 --bg-text: #EBEBEB;
 --bg-button-linear: linear-gradient(90deg, #2D2A37, #EBEBEB);
 --btn-operators-logic: linear-gradient(180deg, #ebebeb, #462878);
 --btn-result: #7F45E2;
}
